.container {
  grid-gap: 16px;
  display: flex; // TODO: makle it grid
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #efefef;
  padding: 5rem;
  @media screen and (max-width: 875px) {
    padding: 1rem 0;
  }
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #efefef;
  flex-direction: column;
  padding: 0.5rem 15rem;
  @media screen and (max-width: 875px) {
    padding: 1rem;
  }

  h1 {
    @media screen and (max-width: 875px) {
      text-align: center;
      font-size: 21px;
    }
  }

  .moreFilters {
    display: flex;
    margin: 1rem 0;
    > div {
      margin: 1rem;
    }
  }
}
