.container {
  grid-gap: 16px;
  display: flex; // TODO: makle it grid
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #efefef;
  padding: 5rem;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #efefef;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 1rem;

    @media screen and (max-width: 700px) {
      font-size: 1rem;
    }
  }
}
