$red: #cd3326;
$green: #16a116;
$white: #ffffff;
$charcoal: #31393f;
$bg-color: #efefef;
$lightgray: rgba(34, 36, 38, 0.15);

$card-width-default: 360px;
$card-width-mobile: 150px;

$mobile-break-point-default: 875px;

$font-family: "Source Sans Pro", sans-serif;
