@import "../../styles/variables";

section {
  background: $white;
  width: $card-width-default;
  @media screen and (max-width: $mobile-break-point-default) {
    width: $card-width-mobile;
  }

  h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc($card-width-default - 50px);
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
    @media screen and (max-width: $mobile-break-point-default) {
      width: calc($card-width-mobile - 30px);
      font-size: 12px;
      margin-top: 1rem;
    }
  }

  h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc($card-width-default - 50px);
    text-align: center;
    font-weight: 400;
    margin-top: 14px;
    @media screen and (max-width: $mobile-break-point-default) {
      width: calc($card-width-mobile - 30px);
      font-size: 10px;
    }
  }

  h6 {
    @media screen and (max-width: $mobile-break-point-default) {
      margin: 0.5rem 0;
    }
  }

  img {
    width: 360px;
    height: 201px;
    @media screen and (max-width: $mobile-break-point-default) {
      width: 150px;
      height: 84px;
    }
  }
}
