@import "../../styles/variables.scss";

input {
  padding: 1rem;
  font-size: 18px;
  border: 1px solid lightgray;
  font-family: $font-family;
  border-radius: 5px;
  &:focus-visible {
    outline: none;
  }
  &:focus {
    box-shadow: 0px 3px 9px lightgray;
    transition: 0.2s;
  }
}
