input {
  width: 100%;
  padding: 1rem;
  font-size: 18px;
  border: 1px solid #efefef;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 5px;
  &:focus-visible {
    outline: none;
  }
}
