body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efefef;
  color: #31393f;
}

// TODO - add all helper css classes here and reuse

.d-f {
  display: flex;
}

.ui.multiple.search.dropdown > input.search {
  margin: 0;
}
