@import "./styles/variables.scss";

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-color;
  color: $charcoal;
}

.d-g {
  display: grid;
}

.d-f {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.p-sticky {
  position: sticky;
}

.ta-c {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.ui.multiple.search.dropdown > input.search {
  margin: 0;
}
